@import "/styles/variables";

.bar {
    background: linear-gradient(to right, $redOrange, $veryLightRed, $lightPink, $lightBlueSky, $blueSky, $greenTeal);
    border-radius: 15px;
    height: 5px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 50;
}