@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/animations";

.forgot {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__image {

        position: absolute;
        width: 100%;
        min-height: 100vh;
        background-image: url('/static/img/mountain_tree.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint-down(small) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    &__box {
        position: relative;
        z-index: 1;
        background: white;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        max-width: 25.875rem;
        padding: 2.5rem;
        border-radius: 0.3125rem;
        overflow: hidden;

        legend {
            font-size: 2rem;
            font-weight: 1000;
        }

        .icon {
            position: relative;
            cursor: pointer;
            text-align: center;
            // margin-bottom: 2.5rem;
        }

        .form_group {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            label {
                font-size: 1.3rem;
            }

            input {
                padding: 0.5rem;
                font-size: medium;
                border-radius: 5px;
                border: 1px solid $darkBlue;
                font-size: 1em;
            }

            .deskripsi {
                font-size: 0.9rem;
                color: gray;

                @include breakpoint-down(small) {
                    font-size: 0.8rem;
                }
            }
        }
    }

    &__password {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }

    &__button {

        button {
            border-radius: 0.3125rem;
            transition: box-shadow 150ms ease-in-out;

            &:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }

            @include breakpoint-up(large) {
                transition: transform 250ms ease-in-out, box-shadow 150ms ease-in-out;

                &:hover {
                    transform: translate(1px, -1px);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                }
            }


            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }

    &__userMsg {
        margin: 0;
        color: red;
        font-size: small;
    }

    &__goBack {
        // padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.8rem;
        text-align: center;

        a {
            max-width: 8rem;
            cursor: pointer;
            color: #0065ff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}