@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/animations";

.belajar {
    margin-top: 54px;
}

.shows {

    padding-bottom: 2.5rem;
    // background-color: $verylightBlue;

    &__header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $mostLightDarkBlue;
    }

    &__pelajaranku {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: $darkBlue;
        color: white;

        .add {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .icon {
            cursor: pointer;
        }

        p {
            cursor: pointer;
            margin: 0;
        }
    }

    &__pelajaran {
        display: flex;
        gap: 1.275rem;
        // padding-left: 1.275rem;
        text-align: left;
        align-items: center;

        // img {
        //     max-width: 85px;
        //     max-height: 85px;
        // }

        .header__belajar {

            display: flex;
            flex-direction: column;
            // margin-top: 0.4rem;
            text-align: left;
            // padding-left: 1.25rem;
            margin: 0;

            a {
                cursor: pointer;
            }

            h3 {
                padding: 0;
                padding-left: 0.13rem;
                margin: 0;
                font-size: 1.1rem;
                color: $blueGrey;

                &:hover {
                    text-decoration: underline;
                }

                @include breakpoint-down(small) {
                    padding-left: 0.05rem;
                    // padding-left: 1rem;
                }
            }

            h1 {
                margin: 0;
                // margin-top: 0.9rem;
                padding: 0;
                // margin-bottom: 0;
                // padding-left: 1rem;
                font-weight: 600;
                color: white;

                @include breakpoint-down(medium) {
                    font-size: 3rem;
                    // margin-top: 1rem;
                }

                @include breakpoint-down(small) {
                    margin: 0;
                    font-size: 2rem;
                }
            }
        }
    }
}

.belajar {

    &__grid {
        gap: 1.5rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;

        @include breakpoint-down(small) {
            gap: 1rem;
        }
    }

    &__card {

        padding: 1.5rem;
        text-align: left;
        border-radius: 15px;
        // box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        // border-radius: 10px;
        // border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    &__subbab {
        h3 {
            margin: 0;
            font-weight: 1000;
            margin-bottom: 1rem;

            @include breakpoint-down(small) {
                font-size: 1.1rem;
            }
        }
    }

    &__konten {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &__keterangan {
        margin-top: 1rem;
        margin-bottom: 2rem;

        @include breakpoint-down(small) {
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }

        h4 {
            margin: 0;
            font-size: 1rem;
            color: $darkGrey;

            @include breakpoint-down(small) {
                font-size: 1em;
            }
        }
    }

    &__videos {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .konten {
            display: inline-flex;
            text-align: left;
            align-items: center;
            gap: 0.5rem;

            .icon {
                position: absolute;
            }

            // .uil-play-circle {
            //     font-size: 2rem;
            // }

            .judul {
                cursor: pointer;
                margin-left: 2rem;
                // margin-top: 0.575rem;

                @include breakpoint-down(medium) {
                    font-size: 1.1rem;
                }

                @include breakpoint-down(small) {
                    // margin-top: 0.585rem;
                    font-size: 0.95rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}