@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/animations";

.footer {

    background-color: $darkBlue;
    color: white;
    padding: 2.5rem;
    text-align: center;

    .container {
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 2fr 1fr 1.25fr 3fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "logo links1 links2 cta"
                "social links1 links2 copyright";
            gap: 1rem;
            justify-items: start;
        }
    }

    a {
        color: white;
    }

    &__logo {
        position: relative;
        width: 110.5px;
        height: 25px;
        display: inline-block;
        cursor: pointer;

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            grid-area: logo;
        }
    }

    &__social {

        height: 30px;

        img {
            width: 24px;
        }

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            grid-area: social;
            align-self: end;
        }

        a {
            display: inline-block;
            height: 1.25rem;

            svg path {
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path {
                fill: $greenTeal;
            }
        }

        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;
        cursor: pointer;

        @include breakpoint-up(large) {
            justify-content: space-between;
            align-items: start;
        }

        &.col1 {

            @include breakpoint-up(large) {
                grid-area: links1;
            }
        }

        &.col2 {

            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large) {
                grid-area: links2;
            }
        }

        a {
            line-height: 2.25;
            transition: color 150ms ease-in-out;

            &:hover {
                color: $greenTeal;
            }
        }
    }

    &__cta {

        @include breakpoint-up(large) {
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }

        a.button {
            color: black;

            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            color: black;

            @include breakpoint-up(large) {
                transition: transform 300ms ease-in-out,
                    box-shadow 250ms ease-in-out;

                &:hover {
                    transform: translate(2px, -2px);
                    box-shadow: 0 0 15px $blueSky;
                }
            }

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }

    &__copyright {
        height: 26px;
        font-size: 0.8125rem;
        color: $verylightBlue;

        p {
            margin: 0;
        }

        @include breakpoint-up(large) {
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }
    }
}