@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/animations";

.kontak_form {
    // background-color: $cream;
    margin-top: 80px;
}

.kontak {
    
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__intro {

        text-align: center;
        margin-bottom: 2rem;

        @include breakpoint-up(medium) {
            margin-bottom: 3.5rem;
        }

        h1 {
            font-weight: 1000;
        }

        p {
            text-align: left;
            margin-bottom: 10px;

            @include breakpoint-down(small) {
                text-align: center;
            }
        }
    }

    &__container {
        row-gap: 3rem;

        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__information {

        display: flex;
        margin-bottom: 2rem;
    }

    &__subtitle {
        margin-right: 1rem;
    }

    &__foto {
        img {
            margin-top: 2rem;
            margin-left: 7rem;
            margin-right: 2rem;
            width: 22rem;

            @include breakpoint-down(medium) {
                margin-left: 5rem;
                margin-right: 2rem;
                width: 17rem;
            }

            @include breakpoint-down(small) {
                display: none;
            }
        }
    }

    &__icon {
        font-size: 2rem;
        color: $darkBlue;
        margin-right: 0.5rem;
    }

    &__title {
        margin-bottom: 0.3rem;
        font-weight: 900;
        font-size: large;
    }

    &__subtitle {
        font-size: medium;
        opacity: 0.7;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        padding: 1.5rem;
        border-radius: 15px;
        // box-shadow: 0 0 20px rgba(0,0,0,.2);
        // background: linear-gradient(to right, $blueSky, $lightPurple);
        background: rgba( 255, 255, 255, 0.2 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        // border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

    }

    &__konten {
        background-color: $verylightBlue;
        border-radius: .5rem;
        padding: .5rem 1rem .25rem;

        .form-control {
            padding: 0;
            border: 0;
            box-shadow: none;
            outline: 0 none;
            border-color: none;
        }

        textarea:focus,
        textarea[type="text"]:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus {
            border: none;
            background: none;
            border-color: none;
            box-shadow: none;
            outline: 0 none;
        }

        input ,textarea {
            border: none;
            border-color: none;
            outline: 0 none;
            background: none;
            width: 100%;
            font-size: 1em;
            padding-bottom: 0.3125rem;
        }
    }

    &__label {
        font-size: small;
    }

    &__input {

        width: 100%;
        background-color: $verylightBlue;
        font-size: medium;
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
        resize: none;
    }

    .button {

        &__button {
            transition: transform 300ms ease-in-out, box-shadow 150ms ease-in-out;
            &:hover {
                transform: translate(3px, -3px);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        &__icon {
            padding-left: 0.2rem;
        }
    }

}