@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/animations";

.tentangFibo {
    margin-top: 62px;

    &__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 15rem;
        padding-right: 15rem;

        @include breakpoint-down(medium) {
            padding-left: 10rem;
            padding-right: 10rem;
        }

        @include breakpoint-down(small) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    &__intro {
        text-align: center;

        h1 {
            // font-family: 'Grape Nuts', cursive;
            // font-size: 4rem;
            font-weight: 1000;

           
        }
    }

    &__judul {
        text-align: center;

        h3 {
            font-size: 1.75rem;
            font-weight: 400;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            @include breakpoint-down(small) {
                font-size: 1.5rem;
            }
        }

    }

    &__card {
        padding: 1.5rem;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);

        p {
            margin: 0;
            // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}